.FooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem 2rem;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid #1a1a1a;
}

.FooterCopyright {
    font-weight: 400;
    color: #666;
}

.FooterLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.FooterLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Can remove a it looks like to make border box cover icon as well */
.FooterLink a {
    color: #1a1a1a;
    text-decoration: none;

    position: relative;
    padding: 0.2rem 0.5rem;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.FooterLink a::before {
    display: none;
}

.FooterLink a:hover {
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
}