.FooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem 2rem;
    width: 100%;
    background-color: #151818;
    border-top: 1px solid #5a5b5b;
}

.FooterCopyright {
    font-weight: 400;
    color: #aaa;
}

.FooterLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.FooterLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Can remove a it looks like to make border box cover icon as well */
.FooterLink a {
    color: #ddd;
    text-decoration: none;

    position: relative;
    padding: 0.2rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.FooterLink a::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.FooterLink a:hover::before {
    border-color: #c4efed;
}

.FooterLink a:hover {
    color: #c4efed;
}