.OuterContainerProjects {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%
}

.ProjectsHeader {
    width: 100%;
    padding: 1rem 4rem;
}

.ProjectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 2rem;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: #1e1e1e;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}