* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* height/width = total height/width of the element */
}

html, body {
    height: 100%;

    font-family: 'Ubuntu', 'Courier New', 'Monaco', 'Menlo', monospace;
    font-size: 16px; 
    font-weight: 400;

    background-color: #f8f8f8; 
    color: #1a1a1a; 
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}